################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/xll_gsl/v16
/Debug
/packages/gsl-msvc-x64.2.4.0.8788
/x64/Debug
/.vs/xll_gsl/v17
/.vs/xll_gsl/FileContentIndex
/.vs/xll_gsl/CopilotIndices/17.13.441.19478
/vcpkg_installed/x64-windows-static
/xll_gsl/x64/Debug
/.vs
